.about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    .about-heading {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .about-body {
        width: 50%;
        text-align: center;
        line-height: 1.5;
        font-size: 18px;
    }

    /* Tech Stack Section */
    .tech-stack {
        margin-top: 30px;
        text-align: center;

        h3 {
            font-size: 30px;
            padding-bottom: 15px;
            font-weight: bold;
            color: #ff6b6b; /* Highlighting color */
        }

        .tech-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            padding: 10px 0;

            
        }
    }
}
