.introduction-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0;
  background-image: url("../../public/intro-bkg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .intro-wrapper {
    width: 80vw;
    display: flex;
    align-items: center;

    .intro-part {
      width: 60%;
      opacity: 0;
      transform: translateY(30px);
      animation: fadeInUp 0.8s ease-in-out forwards;

      &:nth-child(2) {
        animation-delay: 0.2s;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    .intro-data {
      h1 {
        font-size: 60px;
        margin-bottom: 20px;
        position: relative;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
      }

      p {
        // margin-top: 12px;
        margin-bottom: 60px;
        width: 80%;
        font-size: 16px;
        line-height: 1.7;
        color: #a2a2a2;
        transition: transform 0.3s ease-in-out;
      }

      .download-btn {
        padding: 25px;
        font-weight: 500;
        color: #002b36;
        background: linear-gradient(45deg, #00C9FF, #92FE9D);
        border: none;
        // border-radius: 8px;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        position: relative;
        overflow: hidden;

        a {
          font-size: 17px;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 6px 15px rgba(107, 255, 245, 0.6);
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 300%;
          height: 300%;
          // background: rgba(255, 255, 255, 0.2);
          transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
          border-radius: 50%;
          transform: translate(-50%, -50%);
        }

        &:hover::before {
          width: 0;
          height: 0;
        }
      }
    }

    .intro-image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media screen and (max-width: 912px) {
  .introduction-container {
    .intro-part {
      width: 100%;
      padding: 30px;
      &:last-child {
        display: none;
      }
    }
    .intro-data {
      padding: 0 30px;
      p {
        width: 100%;
      }
    }
  }
}
