.introduction-container {
  width: 100%;
  display: flex;
  padding: 50px 30px;
  .intro-part {
    width: 50%;
  }
  .intro-data {
    padding-left: 40px;
    h3 {
      font-size: 40px;
      padding-bottom: 20px;
    }
    p {
      width: 80%;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
