.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  .navbar-links-conatiner {
    padding-top: 30px;
    padding-right: 50px;

    .navbar-links {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        list-style: none;
        
        a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 500;
          letter-spacing: normal;
          position: relative;
          transition: color 0.3s ease-in-out;

          &:hover {
            color: #ff6b6b; // Change color on hover
          }

          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #ff6b6b;
            left: 50%;
            bottom: -5px;
            transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
          }

          &:hover::after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}
