.projects-container {
  width: 100%;
  padding: 100px 0;
  background: #02050a;

  .projects-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .projects-heading {
      margin-bottom: 60px;
      text-align: center;
      opacity: 0;
      transform: translateY(-20px);
      animation: fadeIn 0.8s ease-in-out forwards;

      h1 {
        font-size: 40px;
        color: #55e6a5;
        text-transform: uppercase;
      }
    }

    .projects-cards {
      width: 80%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: 20px;

      .proj-card {
        background: #ffffff;
        border: 2px solid #bdc3c7;
        border-radius: 15px;
        padding: 20px;
        min-height: max-content;
        position: relative;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        overflow: hidden;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 0.8s ease-in-out forwards;

        &:hover {
          transform: scale(2); /* Increase size */
          box-shadow: 0px 15px 30px rgba(255, 255, 255, 0.5); /* Only shadow effect */
        }

        .proj-heading {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 15px;
          text-align: center;
          color: #2c3e50;
          text-transform: capitalize;
        }

        .proj-desc {
          font-size: 14px;
          margin-bottom: 20px;
          text-align: center;
          color: #7f8c8d;
        }

        p {
          text-align: center;

          a {
            text-decoration: none;
            color: #2980b9;
            font-weight: 600;
          }
        }

        .proj-links {
          display: flex;
          justify-content: center;
          a {
            display: flex;
            gap: 5px;
            color: black;
            font-size: 16px;

            &:hover {
              font-size: 18px;
              transition: 1ms ease-out;
              color: #ff6b6b;
            }
          }
        }
      }
    }
  }
}

/* Animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
